.darkbg {
  background-color: rgba(0, 0, 0, 0.03);
}

.lightbg {
  background-color: rgba(255, 255, 255, 0.99);
}

.sets {
  height: 3em;
  padding-top: 0.5em;
  padding-inline: 4em;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;

  // .title {
  //   flex-basis: 300px;
  //   // background-color: red;
  // }
}
.MuiSwitch-switchBase.Mui-checked {
  color: "green"
}
