.background {
  background-color: rgb(50, 50, 50);
  height: 100vh;
}

.next {
  position: fixed;
  bottom: 10vh;
  left: 25vw;
  right: 25vw;
  height: 10vh;
  border-radius: 1em;
}

/* #back {
  position: fixed;
  bottom: 0;
  left: 35vw;
  right: 35vw;
  height: 5vh;
} */
