$team-green: rgb(111, 164, 111);
$team-red: rgb(220, 140, 140);

$base: #2e282a;
$base-dark: #191617;
$accent: #e02150;
$accent-light: #fc6288;

$navbar-height: 10vh;

:export {
    teamGreen: $team-green;
    teamRed: $team-red;
    baseColor: $base;
    accent: $accent;
    accentLight: $accent-light;
}