$team-green: rgb(111, 164, 111);
$team-red: rgb(220, 140, 140);
$base: #2e282a;
$accent: #cd5334;
$accent2: #edb88b;

// :export {
//     team-green: $team-green;
//     team-red: $team-red;
//     base-color: $base;
//     accent: $accent;
//     accent2: $accent2;
// }