.next_button {
  height: 10vh;
  width: 50vw;
  position: fixed;
  bottom: 5vh;
  left: 0;
}

.skip_button {
  height: 10vh;
  width: 50vw;
  position: fixed;
  bottom: 5vh;
  right: 0;
}

.center {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

#question {
  font-size: 3rem;
  font-weight: 800;
}

.counter {
  position: relative;
  bottom: 30;
  color: black;
}

.points_display {
  min-height: 30vh;
  max-height: 60vh;
}
